<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDEO</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="video">
        <h1>Beauty of my Life</h1>
        <video width="360" height="240" controls> 
            <source src="/static/video.mp4" type="video/mp4">
        </video>
    </div>
    <a href="/">back</a>
</body>
</html>